.articles .article {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles .article img {
    max-width: 272px;
    max-height: 40px;
    width: auto;
    height: auto;
}