.cases {
    margin-bottom: 6rem;
}
.cases .case {
    border: 1px solid #ffeeff;
    height: 100%;
    padding: 2rem;
    text-align: justify;
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.08);
    border-radius: 0.5rem;
}
.cases .case img {
    max-width: 144px;
    max-height: 64px;
    width: auto;
    height: auto;
}
.cases blockquote {
    margin: 1rem 0;
}