body {
    padding: 6rem 0 0;
}
header {
    box-shadow: 0 0 32px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index:2000;
    background-color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo:before {
    content:" ";
    background-image: url("jt-logo-purple.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}
header .logo a {
    text-decoration: none;
    font-size:1.25rem;
}
header .logo a span {
    font-weight: bold;
}
header .links {
    padding-right: 1rem;
}
header .links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.26s ease-out;
}
header .logo a.active,
header .logo a:hover,
header .links a.active,
header .links a:hover {
    color: #6320ee;
}
header .links a + a {
    margin-left: 4rem;
}
header .bars {
    display: none;
}
@media screen and (max-width: 799px) {
    header .links a {
        display: none;
    }
    header .bars {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
    }
}