.team-members {
    padding: 1rem;
}
.team-member {
    padding:2rem 1rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    height: 100%;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.06);
    border: 1px solid #eeeeee;
    transition: all 0.26s ease-out;
    position: relative;
}
.team-member:hover {
    background-color: #6320ee;
    color: white;
    border-color: transparent;
}
.team-member:hover .role {
    background-color: white;
    color: #6320ee;
}
.team-member:hover a {
    color: white;
}
.team-member img {
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    margin: 1rem 0;
}
.team-member h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}
.team-member .role {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: normal;   
    background-color: #6320ee;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.team-member p {
    padding-bottom:1rem;
}
.team-member .social {
    position: absolute;
    bottom:1rem;
    left: 0;
    width: 100%;
    text-align: center;
}