footer {
    background-color: #6320ee;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2rem 0;
}
footer p {
    margin: 0;
}
footer a {
    color: white;
}
footer .social a {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    font-size:1rem;
}