#carrousel {
    transition: background-color 0.2s ease-out;
    margin: 3rem auto 6rem;
}
#carrousel .container {
    height: 100%;
    position: relative;
}
#carrousel,
#carrousel .slides,
#carrousel .slide {
    height: 30rem;
}
#carrousel .slides,
#carrousel .slide {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}
#carrousel .slides {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.08);
    border:1px solid #eee;
}
#carrousel .slide {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrousel .slide.active {
    opacity: 1;
    z-index: 1001;
}
#carrousel .slide .image {
    flex-basis: 30%;
    height: 100%;
    background-color: red;
    overflow: hidden;
}
#carrousel .slide .image img {
    height: 100%;
    width: auto;
}
#carrousel .slide .content {
    flex-basis: 70%;
    height: 100%;
    padding: 3rem;
}
#carrousel .slide .logo {
    display: inline-flex;
    width: 12rem;
    height: 3rem;
}
#carrousel .slide .title {
    margin-top: 1rem;
}
#carrousel .previous,
#carrousel .next,
#carrousel .bullets {
    position: absolute;
    z-index: 1002;
}
#carrousel .previous,
#carrousel .next {
    bottom: 2px;
    right: 2px;
    padding: 0.75rem 1rem;
    width: 7rem;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 2rem rgba(0,0,0,0.08);
    text-transform: uppercase;
    color: #999;
    transition: color 0.26s ease-out;
}
#carrousel .previous:hover,
#carrousel .next:hover {
    color: #6320ee;
}
#carrousel .previous {
    border-top-left-radius: 1rem;
    margin-right: 7.1rem;
    text-align: left;
}
#carrousel .next {
    border-bottom-right-radius: 1rem;
    text-align: right;
}
#carrousel .bullets {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: -4rem;
}
#carrousel .bullets .bullet {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.2s ease-out;
    margin-left: 0.5rem;
    font-weight: bold;
}
#carrousel .bullets .bullet:first-child {
    margin-left: 0;
}
#carrousel .bullets .bullet.active {
    background-color: #6320ee;
    color: white;
}

/*  RESPONSIVE ========================================================== */
@media screen and (min-width:320px) and (max-width: 799px) {
    #carrousel {
        margin: 3rem 1rem;
    }
    #carrousel .slide {
        display: block;
        opacity: 1;
    }
    #carrousel .slide .image {
        height: 8rem;
    }
    #carrousel .slide .image img {
        height: auto;
        width: 100%;
    }
    #carrousel,
    #carrousel .slides,
    #carrousel .slide {
        height: auto;
    }
    #carrousel .slides,
    #carrousel .slide {
        position: relative;
    }
    #carrousel .previous,
    #carrousel .next,
    #carrousel .bullets {
        display: none;
    }
}
@media screen and (min-width:800px) {
    
}