#carrousel {
    transition: background-color 0.2s ease-out;
}
#carrousel.loading {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#carrousel .container {
    height: 100%;
    position: relative;
}
#carrousel,
#carrousel .slides,
#carrousel .slide {
    height: 30rem;
}
#carrousel .slides,
#carrousel .slide {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
}
#carrousel .slide,
#carrousel .slide a {
    color: white;
}
#carrousel .slide {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrousel .slide.active {
    opacity: 1;
    z-index: 1001;
}
#carrousel .slide .image {
    padding-right: 2rem;
}
#carrousel .slide .content {
    width: 15rem;
}
#carrousel .slide h2 {
    margin: 0;
    
}
#carrousel .slide img {
    width: 15rem;
    max-height: 15rem;
    height: auto;
    border-radius: 0.5rem;
}
#carrousel .previous,
#carrousel .next,
#carrousel .bullets {
    position: absolute;
    z-index: 1002;
}
#carrousel .previous,
#carrousel .next {
    top: 50%;
    padding: 0.75rem;
    width: 7rem;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
}
#carrousel .previous {
    left:0;
    text-align: left;
}
#carrousel .next {
    right: 0;
    text-align: right;
}
#carrousel .bullets {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}
#carrousel .bullets .bullet {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.2s ease-out;
    margin-left: 0.5rem;
    font-weight: bold;
}
#carrousel .bullets .bullet:first-child {
    margin-left: 0;
}
#carrousel .bullets .bullet.active {
    background-color: black;
    color: white;
}