@keyframes loadanimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loader {
    box-sizing: border-box;
  	animation: loadanimation 1s linear infinite;
  	position: relative;
}
.loader .outer {
    border:5px solid transparent;
	border-top:5px solid white;
}
.loader .inner {
    border:5px solid white;
	border-top:5px solid transparent;
    opacity:0.25;
}
.loader,
.loader .outer,
.loader .inner {
	width: 64px;
  	height: 64px;
}
.loader .outer,
.loader .inner {
	position: absolute;
    border-radius: 64px;
}