.evidences {
    border-radius: 1rem;
    margin: 4rem auto;
}
.evidences .common-columns {
    background-color: #ffeeff;
}
.evidences .icon {
    font-size: 4rem;
}
.evidences .evidence p {
    max-width: 12rem;
    margin: 0 auto;
}
.evidences .evidence .icon,
.evidences .evidence h2 {
    transition: color 0.26s ease-out;
}
.evidences .evidence:hover .icon,
.evidences .evidence:hover h2 {
    color: #6320ee;
}