.partners .partner {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners .partner img {
    max-width: 272px;
    max-height: 96px;
    width: auto;
    height: auto;
}