.media-press {
    margin-bottom: 6rem;
}
.media-press .box {
    margin-top: 2rem;
}
.medium-press {
    display: block;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.08);
    border-radius: 0.5rem;
    height: 100%;
    transition: all 0.26s ease-out;
    border: 1px solid #eeeeee;
}
.medium-press:hover {
    background-color: #4411aa;
    color: white
}
.medium-press:hover .btn {
    background-color: white;
    color: #4411aa!important;
}
.medium-press .image {
    height: 20rem;
    overflow: hidden;
}
.medium-press .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center 30%;
}
.medium-press .content {
    flex-basis: 80%;
    padding: 2rem;
    text-align: left;
}
.medium-press h2 {
    font-size: 1rem;
    margin-top: 0;
}