/* ======================================================================== */
.common-columns {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.common-columns .box {
    padding:1rem;
    text-align: center;
}
@media screen and (min-width:320px) and (max-width: 639px) {
    .common-columns .box {
        width:100%;
    }
}
@media screen and (min-width:640px) and (max-width: 959px) {
    .common-columns .box {
        width:50%;
    }
}
@media screen and (min-width:960px) and (max-width: 1279px) {
    .common-columns .box {
        width:33.3333%;
    }
}
@media screen and (min-width:1280px) {
    .common-columns .box {
        width:25%;
    }
}
/* ======================================================================== */
.common-columns.max-3 .box {
    padding:1rem;
    text-align: center;
}
@media screen and (min-width:320px) and (max-width: 799px) {
    .common-columns.max-3 .box {
        width:100%;
    }
}
@media screen and (min-width:800px) and (max-width: 1279px) {
    .common-columns.max-3 .box {
        width:66.6666%;
    }
}
@media screen and (min-width:1280px) {
    .common-columns.max-3 .box {
        width:33.3333%;
    }
}
/* ======================================================================== */
.common-columns.max-2 .box {
    padding:1rem;
    text-align: center;
}
@media screen and (min-width:320px) and (max-width: 799px) {
    .common-columns.max-2 .box {
        width:100%;
    }
}
@media screen and (min-width:800px) {
    .common-columns.max-2 .box {
        width:50%;
    }
}