.supporters .supporter {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.supporters .supporter img {
    max-width: 272px;
    max-height: 64px;
    width: auto;
    height: auto;
}