.timeline {

}
.timeline .events {
    position: relative;
}
.timeline .events:after {
    content:" ";
    position: absolute;
    z-index:1000;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #ffeeff;
}
.timeline .event {
    display: flex;
    margin: 4rem 0;
}
.timeline .event .content,
.timeline .event .image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}
.timeline .image img {
    max-width: 100%;
    max-height: 100%;
}
.timeline .stamp {
    order: 2;
    flex-shrink: 0;
    flex-basis: 2rem;
    text-align: center;
}
.timeline .stamp .number {
    position: relative;
    z-index:1001;
    background-color: white;
    border:1px solid #ffeeff;
    color: #6320ee;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}
.timeline .event:nth-child(odd) .image { order: 1; }
.timeline .event:nth-child(odd) .content { order: 3; }
.timeline .event:nth-child(even) .image { order: 3; }
.timeline .event:nth-child(even) .content { order: 1; align-items: flex-end; }
.timeline .event:nth-child(even) .content p { text-align: right; }