@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a, button {
  cursor: pointer;
  display: inline-block;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 3rem;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* --------------------------------------------------------------- */
.common-title {
  max-width: 32rem;
  text-align: center;
  margin: 6rem auto 2rem;
}
/* --------------------------------------------------------------- */
.highlight-image {
  display: flex;
  margin-top: 4rem;
  padding: 1rem;
}
.highlight-image .box {
  padding: 1rem;
  width: 50%;
}
.highlight-image .image img {
  max-width: 100%;
}
.highlight-image h1 {
  font-size: 3rem;
  line-height: 4rem;
}
@media screen and (min-width:320px) and (max-width: 899px) {
  .highlight-image {
    flex-direction: column-reverse;
  }
  .highlight-image .box {
    width: 100%;
  }
  .highlight-image .image {
    text-align: center;
  }
  .highlight-image .image img {
    height: 12rem;
  }
}
/* --------------------------------------------------------------- */
.highlight-text {
  background-color: #6320ee;
  padding: 4rem 4rem 2rem;
  border-radius: 1rem;
  color: white;
  margin: 4rem auto;
  position: relative;
}
.highlight-text .icon {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2rem;
  margin-top: -2rem;
  background-color: white;
  border: 1px solid #ffeeff;
  color: #6320ee;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
}
.highlight-text blockquote {
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0;
  margin: 0 0 1rem;
}
.highlight-text h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}
/* --------------------------------------------------------------- */
.lowlight-text {
  background-color: #ffeeff;
  padding: 6rem 0;
}
.lowlight-text .common-title {
  margin-top: 2rem;
}
/* --------------------------------------------------------------- */
.btn {
  background-color: #6320ee;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: all 0.12s ease-out;
  top: 0;
  position: relative;
  color: white!important;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:hover {
  background-color: #4411aa;
  top: -0.25rem;
}